/* .main-div { */
/* position: fixed; */
/* height: auto;
  width: 177px;
  margin-top: 100px;
  margin-left: 30px;
  align-items: flex-start;
  justify-content: center; */
/* display: flex; */
/* top: 0;
  left: 0;
  z-index: 1; */
/* } */

.link-class {
  background-color: #fafbfc;
  color: rgb(155, 150, 150);
  font-weight: 600;
  text-decoration: none;
}
.link-class:hover {
  color: rgb(63, 60, 60);
  transform: translateY(-0.8px);
}

.create-user-btn {
  margin-bottom: 10px;
  /* float: right; */
  background-color: #718096;
  outline: none;
  border: none;
  border-radius: 0.7rem;
  height: 2.5rem;
  width: 10rem;
  color: white;
  font-weight: 600;
}
.create-user-btn:hover {
  background-color: #2e343c;
  color: white;
}
.view-user-btn {
  /* background-color: #718096; */
  outline: none;
  border: none;
  border-radius: 0.7rem;
  height: 2.5rem;
  width: 2.5rem;
  /* color: white; */
  font-weight: 600;
}
/* .view-user-btn:hover {
  background-color: #2e343c;
  color: white;
  transform: translateY(-1px);
} */
.edit-user-btn {
  outline: none;
  border: none;
  border-radius: 0.7rem;
  height: 2.5rem;
  width: 3rem;
  font-weight: 600;
}
/* .edit-user-btn:hover {
  background-color: #2e343c;
  color: white;
  transform: translateY(-1px);
} */
